<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Adam Dulewicz">
        <title>{% block title %}Materials!{% endblock %}</title>

        {% block stylesheets %}
            <style>
                body {
                    padding-top: 70px;
                    padding-bottom: 30px;
                }

                .theme-dropdown .dropdown-menu {
                    position: static;
                    display: block;
                    margin-bottom: 20px;
                }

                .theme-showcase > p > .btn {
                    margin: 5px 0;
                }

                .theme-showcase .navbar .container {
                    width: auto;
                }
            </style>
        {% endblock %}
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('homepage') }}">Materials</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ app.request.get('_route') == 'homepage' ? 'active' : '' }}"><a href="{{ url('homepage') }}">Home</a></li>
                        <li class="dropdown {{ 'unit' in app.request.get('_route') ? 'active' : '' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jednostki Miar <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{{ app.request.get('_route') == 'unit_new' ? 'active' : '' }}"><a href="{{ url('unit_new') }}">Dodaj</a></li>
                                <li class="{{ app.request.get('_route') == 'unit_index' ? 'active' : '' }}"><a href="{{ url('unit_index') }}">Zestawienie</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{ 'group' in app.request.get('_route') ? 'active' : '' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupy Materiałów <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{{ app.request.get('_route') == 'group_new' ? 'active' : '' }}"><a href="{{ url('group_new') }}">Dodaj</a></li>
                                <li class="{{ app.request.get('_route') == 'group_index' ? 'active' : '' }}"><a href="{{ url('group_index') }}">Zestawienie</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{ 'material' in app.request.get('_route') ? 'active' : '' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materiały <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{{ app.request.get('_route') == 'material_new' ? 'active' : '' }}"><a href="{{ url('material_new') }}">Dodaj</a></li>
                                <li class="{{ app.request.get('_route') == 'material_index' ? 'active' : '' }}"><a href="{{ url('material_index') }}">Zestawienie</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container theme-showcase" role="main">
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
        {% javascripts '@jquery' '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</body>
</html>
