{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Materials</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
{% endblock %}
