{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Materiały</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kod</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td><a href="{{ path('material_show', { 'id': material.id }) }}">{{ material.id }}</a></td>
                <td>{{ material.code }}</td>
                <td>{{ material.name }}</td>
                <td>
                    <a href="{{ path('material_show', { 'id': material.id }) }}" class="btn btn-default">Podgląd</a>
                    <a href="{{ path('material_edit', { 'id': material.id }) }}" class="btn btn-default">Edycja</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}" class="btn btn-default">Dodaj</a>
{% endblock %}
