{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Grupy Materiałów</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for groupOfMaterial in groupOfMaterials %}
            <tr>
                <td><a href="{{ path('group_show', { 'id': groupOfMaterial.id }) }}">{{ groupOfMaterial.id }}</a></td>
                <td>{{ groupOfMaterial.name }}</td>
                <td>
                    <a href="{{ path('group_show', { 'id': groupOfMaterial.id }) }}" class="btn btn-default">Podgląd</a>
                    <a href="{{ path('group_edit', { 'id': groupOfMaterial.id }) }}" class="btn btn-default">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_new') }}" class="btn btn-default">Dodaj</a>
    
    <div class="page-header">
        <h2>Struktura drzewiasta</h2>
    </div>
    {{ tree | raw }}
{% endblock %}
