{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Dodaj grupę materiałów</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Zapisz" class="btn btn-default">
        <a href="{{ path('group_index') }}" class="btn btn-default">Powrót</a>
    {{ form_end(form) }}
{% endblock %}
