{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Edytuj jednostkę miary</h1>
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <input type="submit" value="Zapisz" class="btn btn-default">
            <a href="{{ path('unit_index') }}" class="btn btn-default">Powrót</a>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input type="submit" value="Usuń" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
