{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Jednostki Miar</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Skrót</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for unitOfMeasurement in unitOfMeasurements %}
            <tr>
                <td><a href="{{ path('unit_show', { 'id': unitOfMeasurement.id }) }}">{{ unitOfMeasurement.id }}</a></td>
                <td>{{ unitOfMeasurement.name }}</td>
                <td>{{ unitOfMeasurement.shortName }}</td>
                <td>
                    <a href="{{ path('unit_show', { 'id': unitOfMeasurement.id }) }}" class="btn btn-default">Podgląd</a>
                    <a href="{{ path('unit_edit', { 'id': unitOfMeasurement.id }) }}" class="btn btn-default">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unit_new') }}" class="btn btn-default">Dodaj</a>
{% endblock %}
