{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Podgląd jednostki miary</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ unitOfMeasurement.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ unitOfMeasurement.name }}</td>
            </tr>
            <tr>
                <th>Skrót</th>
                <td>{{ unitOfMeasurement.shortName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="pull-left">
            <a href="{{ path('unit_index') }}" class="btn btn-default">Powrót</a>
            <a href="{{ path('unit_edit', { 'id': unitOfMeasurement.id }) }}" class="btn btn-default">Edycja</a>
        </div>
        <div class="pull-right">
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
